*.cpp
*.pyc
*.so
*.c
*.html
*.log
.vscode/*
screenlog*
**/.eggs/*
**/*.egg-info/**
**/.nfs*
env/*
graphs/*
gitignore/*
.pytest_cache/*
.idea/*
**/dist/**
**/build/**
outputs/**
!outputs/tmp/.gitkeep
**/_**
**.mmm
**.metafile
docs/source/**
simulations
old_simulations
example_data
master_env
sim
conda_env/
snipar/tests/tmp
standarized.txt
.gitignore
.gitignore
snipar_env.tar.gz
two_gen_inf_check.csv
two_gen_inf_check.py
simulation_study.py
.gitignore
EA_corrs.txt
plot_data.csv
.DS_Store
meta/generate_repo_pgis.sh
