*.cpp
*.pyc
*.so
*.c
*.html
*.log
.vscode/*
screenlog*
**/.eggs/*
**/*.egg-info/**
**/.nfs*
env/*
graphs/*
gitignore/*
.pytest_cache/*
.idea/*
**/dist/**
**/build/**
outputs/**
!outputs/tmp/.gitkeep
**/_**
**.mmm
**.metafile
docs/source/**
simulations
old_simulations
example_data
master_env
sim
conda_env/
