*.cpp
*.pyc
*.so
*.c
*.html
*.log
*/build/*
dist/*
build/*
.vscode/*
screenlog*
.eggs/*
sibreg.egg-info/*
**/.nfs*
env/*
ldsc_reg/sib_gwas.pdf
ldsc_reg/simulated_data_dir.sumstats.gz
ldsc_reg/simulated_data_par.csv